/* Colors*/

$color_primary: #4BA83D;
//$color_primary: #464646;
$color_accent: #FF8700;
$color_secondary:#108CCB;
$color_dark_gray:#777;
$color_dark_gray_2:#999;
$color_light_gray_1:#f7f7f7;
$color_white:#fff;
$color_black:#000;
$color_dark:#333;
$color_light_gray_2:#eee;

// Socials
$color_instagram:#F03F71;
$color_meta:$color_secondary;
$color_linkedin:#6CACFF;

//Hover
$color_hover: #323232