@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '_abstracts/_variables.scss';


html,
#root,
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: $color_primary;
  display: grid;
      place-items: center;
}

.app{
  display: flex;
  position: relative;
}

/* Scrollbar principale */
::-webkit-scrollbar {
  width: 0.4em;  
  background-color: transparent; 
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
  -webkit-box-shadow: 'inset 0 0 6px rgba(0,0,0,0.00)';
}

/* Thumb (parte che si muove) */
-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,.1);
  outline: '1px solid slategrey'
}



.layout{
 margin: auto;
  width: 98vw;
  height: 95vh;
  border: 1px solid  lightblue;
  display: flex;   
  font-size: 26px;
  
  & > * {
    flex: 1; 
  }
  .AppMain {
    width: 700px;
    background-color: white; 
    padding: 20px;    
  }
  .AppSidebar {
    flex-grow: 1;         
    flex-shrink: 0;    
    background-color: lightgray;  
  }
  
  
}

.css-rizt0-MuiTypography-root{
    font-family: 'Poppins'!important;

  }

.contentBox{
  height:80vh;
  width: 100%;
  padding:'30px 40px'
}

.App{
  width: 100vw;
}