@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '_abstracts/_variables.scss';


html,
#root,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: $color_primary;
  display: grid;
  place-items: center;
}

.app {
  display: flex;
  position: relative;
}

/* Scrollbar principale */
/* Scrollbar principale */
::-webkit-scrollbar {
  width: 8px;
  /* Larghezza del scrollbar */
  height: 8px;
  /* Altezza del scrollbar (se usato orizzontalmente) */
}

/* Track (sfondo della scrollbar) */
::-webkit-scrollbar-track {
  background: rgba(240, 240, 240, 0.8);
  /* Sfondo chiaro per contrasto */
  border-radius: 10px;
  /* Arrotondamento del track */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  /* Effetto leggero di profondità */
}

/* Thumb (parte che si muove) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #4CAF50, #2E7D32);
  /* Gradient per un look moderno */
  border-radius: 10px;
  /* Arrotondamento */
  border: 2px solid rgba(240, 240, 240, 0.8);
  /* Bordo per separare il thumb dal track */
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Transizioni per animazioni */
}

/* Hover del Thumb */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #66BB6A, #388E3C);
  /* Colore più chiaro al passaggio del mouse */
  transform: scale(1.1);
  /* Leggero ingrandimento al passaggio del mouse */
}

/* Active (quando il thumb è in uso) */
::-webkit-scrollbar-thumb:active {
  background: linear-gradient(90deg, #2E7D32, #1B5E20);
  /* Colore più scuro durante l'interazione */
}




.layout {
  margin: auto;
  width: 98vw;
  height: 95vh;
  border: 1px solid lightblue;
  display: flex;
  font-size: 26px;

  &>* {
    flex: 1;
  }

  .AppMain {
    width: 700px;
    background-color: white;
    padding: 20px;
  }

  .AppSidebar {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: lightgray;
  }


}

.css-rizt0-MuiTypography-root {
  font-family: 'Poppins' !important;

}

.contentBox {
  height: 80vh;
  width: 100%;
  padding: '30px 40px'
}

.App {
  width: 100vw;
}

.MuiDataGrid-row {
  cursor: pointer !important;
}